@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;

    /*primary colors*/
    --primary-default: #7d0089;
    --primary-hover: #75167e;
    --primary-active: #5f0e67;
    --primary-disabled: #de9ae4;

    /*secondary colors*/
    --secondary-default: #3f3d56;
    --secondary-hover: #312f48;
    --secondary-active: #2a2840;
    --secondary-disabled: #898899;

    /*tertiary colors*/
    --tertiary-default: #e02525;
    --tertiary-hover: #e81a1a;
    --tertiary-active: #c60d0d;
    --tertiary-disabled: #f6adad;

    /*neutral colors*/
    --main-bg: #fffefc;
    --secondary-bg: #f1f1f1;
    --hover: #dad7d7;
    --placeholder: #8b8b87;
    --paragraph: #555452;
    --title: #212121;

    /*functional colors*/
    --error: #ac1c1c;
    --success: #2f7c1f;
    --warning: #ffb800;
    --info: #1653b4;
    --help: #8729ae;

    /*heading fontsizes*/
    --heading-medium: 2rem;
    --heading-small: 1.5rem;

    /*paragraph fontsizes*/
    --paragraph-medium: 1.25rem;
    --paragraph-regular: 1rem;
    --paragraph-small: 0.75rem;
  }
  /*
  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
*/
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
